/* Add a black background color to the top navigation */
body{
  overflow:hidden;
    background-color: rgb(31, 30, 30);
}
.topnav {
    background-color: rgb(59, 59, 59);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.homegrid{
    margin-top:20vh;
    margin-right:20vw;
    margin-left:20vw;
    display: grid;
    place-items: center;
    width:60vw;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 50vh;
}

.homegrid-item{
    color:#f2f2f2;
    place-self: center;
    object-fit: contain;
    max-height: 100%;
}

.aboutgrid{
    margin-top:20vh;
    margin-right:20vw;
    margin-left:20vw;
    display: grid;
    place-items: center;
    border:2px solid #04AA6D;
    width:60vw;
    grid-template-columns: 60vw;
    grid-template-rows: 50vh;
}

.aboutgrid-item{
    color:#f2f2f2;
    place-self: center;
    object-fit: contain;
    max-height: 100%;
}