.blogtitle{
    color:white;
    font-size:40pt;
}
.blogheader{
    color:white;
    font-size:30pt;
}
.blogbody{
    color:white;
    font-size:25pt;
}
li{
    word-wrap: break-word;
}

@media screen and (min-width: 1100px){
    .blogtitle{
	font-size:20pt;
    }

    .blogheader {
	font-size:15pt;
    }
    .blogbody{
	font-size:12.5pt;
    }
}
